@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
}
.container {
  @apply w-full h-full;
}
.default-bg {
  @apply bg-gradient-to-r from-blue-950 to-blue-700 text-white;
}
.main-bg {
  @apply bg-gradient-to-l from-blue-950 to-blue-700;
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}
.dark {
  background-color: #1f2937;
  color: #fafafa;
}
